/* Основные стили приложения */
.App {
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Стили заголовка */
header {
  background-color: #fff;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стили навигации */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffcc00; /* Цвет при наведении */
}

/* Стили для выпадающего меню */
.dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown li {
  display: block;
}

.dropdown li a {
  text-decoration: none;
}

/* Стили для контейнера таблицы */
.container {
  display: flex;
  height: calc(100vh - 60px);
}

/* Стили для первого столбца */
.first-column {
  width: 200px; 
  overflow-y: auto; 
}

/* Стили для контейнера таблицы */
.table-container { 
  display: flex; 
  flex-direction: column; 
  width: calc(100% - 200px); 
  overflow-y: auto; 
}

/* Стили для таблицы */
.table { 
  width: 100%; 
  border-collapse: collapse; 
}

.table th { 
  text-align: left; 
  padding: 10px; 
  background-color: #003366; /* Темно-синий цвет фона */
  color: white; /* Белый цвет текста */
  font-weight: bold; 
} 

td { 
  padding: 10px; 
  border-bottom: 1px solid #ddd; 
  text-align: left; 
} 

td:first-child { /* Стили для первого столбца */
  background-color: #003366; /* Темно-синий цвет фона для первого столбца */
  color: white; /* Белый цвет текста для первого столбца */
} 

.first-row { 
 writing-mode: vertical-rl; 
 text-orientation: upright; 
 transform: rotate(180deg); 
 width: 50px; /* Исправлено на правильный синтаксис */
 padding: 5px; /* Исправлено на правильный синтаксис */
 text-align: center; /* Исправлено на правильный синтаксис */
} 

a { 
 text-decoration:none; 
 color:#333; 
 transition=color .3s ease; /* Исправлено на правильный синтаксис */
} 

a:hover { 
 color:#ffcc00; /* Цвет при наведении на ссылки */ 
} 

/* Эффект наведения для выпадающего меню */
nav li:hover .dropdown { 
 display:block; 
} 

/* Стили для тепловой карты */
#heatmap-container {
 width: 100%;  
 height: calc(100vh - 60px);  
 margin-top: 20px;  
}

/* Стили для наложения с закругленными углами и размытия фона */
.overlay {
 position: absolute; /* Абсолютное позиционирование для наложения */
 top: calc(50% - (calc(100vh / 3) / 2)); /* Центрирование по вертикали с учетом высоты наложения */
 left: calc(50% - (calc(3 * (100vh / 10)) / 2)); /* Центрирование по горизонтали с учетом ширины наложения */
 background-color: rgba(105, 105, 105, 1); /* Темно-серый фон */
 border-radius: 15px; /* Закругленные углы */
 padding: 40px; /* Отступы внутри прямоугольника */
 box-shadow: 0px 4px 10px rgba(0,0,0,0.2); /* Тень для эффекта глубины */
 z-index: 10; /* Убедитесь, что наложение выше тепловой карты */

 width: calc(100vh / 3); /* Ширина наложения - соотношение сторон (вытянутый вниз) */
 height: calc(100vh / 2); /* Высота наложения - в соответствии с соотношением сторон (10) */
}

/* Стили для кода (если используется) */
code {  
 font-family=source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;  
}
